.scroll-pane {
  -fx-background-color: #1a1a1a;
}

.scroll-pane > .viewport {
  -fx-background-color: #1a1a1a;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
  -fx-background-color: #1a1a1a;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
  -fx-background-color: #333333;
  -fx-background-radius: 5em;
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
  -fx-background-color: #1a1a1a;
  -fx-border-color: #1a1a1a;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
  -fx-background-color: #1a1a1a;
  -fx-border-color: #1a1a1a;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
  -fx-background-color: white;
}